@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900");
@import url("https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css");

*,*:after,*:before{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*Title Default*/
body{
    background: #343436;
    color: #fff;
    font-family: arial;
}

h1{
    margin: 1em 0;
    font-weight: lighter;
}

input[type=checkbox] {
    display: none;
}
/*Scroll bar main-menu*/
.nav-menu ::-webkit-scrollbar {
    width: 4px;
}
.nav-menu ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}
.nav-menu ::-webkit-scrollbar-track {
    background-color: transparent;
}
/*Placeholder*/
::-webkit-input-placeholder {
    color: #ccc;
}
::-moz-placeholder {
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {
    color: #ccc;
}
/**/
nav {
    height: 72px;
    padding: 0 24px;
    justify-content: space-between;
    display: flex;
    z-index: 999;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #000;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1), 0 0 36px 0 rgba(0,0,0,0.1);
}
nav > div,
nav > div > div {
    display: flex;
}
/* System Menu*/
.check-control {
    display: none;
}
.menu-bt {
    z-index: 999;
    cursor: pointer;
}
.menu-bt:before {
    display: block;
    line-height: initial;
    width: 24px;
    height: 24px;
    font-family: "Material Design Icons";
    font-size: 24px;
    font-weight: normal;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
}
.menu-bt.left:before {
    content: "\f35c";
}

[id*=menu-]:checked + .menu-bt:before {
    color: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
[id*=menu-]:checked + .menu-bt:before {
    content: "\f5ad";
}
.nav-menu {
    position: fixed;
    top: 0;
    z-index: 998;
    height: 100vh;
    width: 80%;
    max-width: 320px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 0 12px rgba(0,0,0,0), 0 0 32px rgba(0,0,0,0);
}

.nav-menu.left {
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%);
}
[id*=menu-]:checked ~ .nav-menu {
    box-shadow: 0 0 12px rgba(0,0,0,0.1), 0 0 32px rgba(0,0,0,0.2);
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}
.nav-menu.left {
    left: 0;
}

.nav-menu h5 {
    color: rgba(255,255,255,0.5);
    font-size: 0.85em;
    margin: 0;
    text-transform: uppercase;
    padding: 32px 24px 14px 24px;
}
.nav-menu h5:after {
    content: "";
    display: block;
    width: 3em;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav-menu a {
    display: block;
    color: #fff;
    padding: 14px 8px 14px 58px;
    text-decoration: none;
    position: relative;
    border-radius: 3px;
}
.nav-menu a:before {
    margin-right: 14px;
    font-size: 24px;
    left: 20px;
    top: 9px;
    position: absolute;
}
.nav-menu a span {
    float: right;
    margin-top: -3px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.85em;
    padding: 4px 8px;
}
.nav-menu .menu-scroll {
    height: calc(100vh - 72px);
    overflow-y: auto;
    margin-top: 72px;
    padding: 0 8px 24px 8px;
    width: 100%;
    margin-right: 8px;
}
/************************************************************************************
Media Queries
************************************************************************************/
/* System colors*/
/*Right menu background*/

/*Main menu background*/
.nav-menu.left {
    background: #222;
}   
/*Menu hint number*/
.nav-menu a span {
    background-color: #00aeef;
}
/*Menu active item - main menu*/
.nav-menu.left a.active {
    background-color: #4285f4;
}
/*Menu active item - right menu*/

