<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>JCGONZALEZ</title>
</head>

<body>
    <header>
        <nav>
            <!-- Left Nav SECTION -->
            <div>
                <input type="checkbox" id="menu-left">
                <label for="menu-left" class="menu-bt left"></label>
                <div class="nav-menu left">
                    <div class="menu-scroll">
                        <h5>Get in touch</h5>
                        <a href="" class="mdi mdi-receipt">LinkedIn<span>3</span></a>
                        <a href="" class="mdi mdi-calendar-text active">Github</a>

                        <h5>Other Work</h5>
                        <a href="" class="mdi mdi-file-find">Photography</a>
                    </div>
                </div>
            </div>
            <h1>JC GONZALEZ</h1>
            <div>
                <!-- system menu (Right) -->
        </nav>
    </header>
</body>

</html>